body {
  font-family: "Courier New", Courier, monospace, sans-serif;
  background-color: #292d3e;
  color: #bfc7d5;
  margin: 0;
  padding: 0;
}

#game-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #3c3e4f;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#copy-room-id {
  color: #7986cb;
  cursor: pointer;
}

#copy-room-id:hover {
  color: #666;
}

select {
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1.25rem;
  margin-bottom: 10px;
  background-color: #484a5d;
  color: #bfc7d5;
  appearance: none;
}

#game-phase-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#game-phase,
#game-joueur,
#game-vote,
#game-result-vote {
  flex: 1;
  min-width: 250px;
  max-width: 100%;
  padding: 1rem;
  box-sizing: content-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

p {
  font-size: 1.5rem;
}

.rules {
  font-size: 1rem;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #ab47bc;
}

label {
  font-size: 1.2rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #7986cb;
  margin-top: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1.25rem;
  margin-bottom: 10px;
  background-color: #484a5d;
  color: #bfc7d5;
}

button {
  display: inline-block;
  background-color: #ab47bc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

button:hover {
  background-color: #992299;
}

button:disabled {
  background-color: #615f75;
  cursor: not-allowed;
}

#player-list ul {
  list-style-type: none;
  padding: 0;
}

#game-joueur ul {
  list-style-type: none;
  padding: 0;
}

#player-list li {
  padding: 5px 10px;
  background-color: #484a5d;
  border-radius: 3px;
  margin-bottom: 5px;
}

#game-joueur li {
  padding: 5px 10px;
  background-color: #484a5d;
  border-radius: 3px;
  margin-bottom: 5px;
}

#game-phase,
#game-joueur {
  margin-bottom: 20px;
}

#descriptions,
#discussion,
#elimination {
  list-style-type: none;
  padding: 0;
}

#descriptions li,
#discussion li,
#elimination li {
  padding: 5px 10px;
  background-color: #484a5d;
  border-radius: 3px;
  margin-bottom: 5px;
}

#game-results {
  padding: 20px;
  background-color: #484a5d;
  border-radius: 5px;
  text-align: center;
}

/* Ajout de styles supplémentaires pour améliorer l'expérience utilisateur */
#lobby,
#room,
#game {
  margin-bottom: 20px;
}

#room-info {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#player-word {
  font-weight: bold;
}

#elimine {
  font-weight: bold;
  color: #ab47bc;
}

#submitDescription,
#submitDiscussion,
#submitVote {
  margin-top: 10px;
}

#descriptions li,
#discussion li,
#elimination li {
  position: relative;
  padding-left: 30px;
}

#descriptions li:before,
#discussion li:before,
#elimination li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #ab47bc;
  border-radius: 50%;
}

#discussion li:before,
#elimination li:before {
  background-color: #ccc;
}

#elimination li.selected:before {
  background-color: #ab47bc;
}

#lobby,
#room,
#game {
  margin-bottom: 20px;
}

#roomCode {
  width: auto;
  display: inline-block;
  margin-left: 5px;
  background-color: #484a5d;
  color: #bfc7d5;
}

#room-info {
  font-weight: bold;
  margin-bottom: 10px;
  color: #7986cb;
}

#player-word {
  font-weight: bold;
  color: #7986cb;
}

#submitDescription,
#submitDiscussion,
#submitVote {
  margin-top: 10px;
}

#descriptions li,
#discussion li,
#elimination li {
  position: relative;
  padding-left: 30px;
}

#descriptions li:before,
#discussion li:before,
#elimination li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #7986cb;
  border-radius: 50%;
}

#discussion li:before,
#elimination li:before {
  background-color: #ccc;
}

#elimination li.selected:before {
  background-color: #7986cb;
}
